<div class="container">
  <div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>
  <div
    *ngIf="loaded"
    class="cards">
    <mat-accordion>

      <mat-expansion-panel
        *ngFor="let diagnostic of diagnosis; let i=index"
        (opened)="i===0"
        (closed)="i!==0">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ diagnostic?.Issue?.Name }}</mat-panel-title>

          <mat-panel-description>
            Probability: {{ diagnostic?.Issue?.Accuracy | number:'1.0-0'}}%
          </mat-panel-description>

        </mat-expansion-panel-header>
        <p>Description:
              {{ diagnostic?.Issue?.DescriptionShort }}
            </p>

        <p>Treatment:
              {{ diagnostic?.Issue?.TreatmentDescription }}
            </p>
        <p>How to find a doctor:
              You have to search for a Doctor in the {{ diagnostic?.Specialisation?.Name }} area
            </p>
      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>
