<div class="container">
  <mat-card class="reg-panel">
    <mat-card-title>Doctor Register</mat-card-title>
    <form
      (ngSubmit)="handleRegister()"
      [formGroup]="form"
      class="reg-form">
      <div formGroupName="doctor">
        <mat-form-field>
          <input
            matInput
            required
            formControlName="email"
            placeholder="E-mail">
          <mat-error *ngIf="form.get('doctor.email').hasError('required')">{{getRequiredMessage('email')}}</mat-error>
          <mat-error *ngIf="form.get('doctor.email').hasError('email')">Invalid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="username"
            placeholder="Username">
          <mat-error *ngIf="form.get('doctor.username').hasError('required')">{{getRequiredMessage('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="fullname"
            placeholder="Full name">
          <mat-error *ngIf="form.get('doctor.fullname').hasError('required')">{{getRequiredMessage('fullname')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password">
          <mat-error *ngIf="form.get('doctor.password').hasError('required')">{{getRequiredMessage('password')}}</mat-error>
          <mat-icon
            matSuffix
            (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthdate"
            placeholder="Select your birth date">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('doctor.birthdate').hasError('required')">{{getRequiredMessage('birthdate')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="tel"
            matInput
            placeholder="Telephone"
            formControlName="phoneNumber">
          <mat-error *ngIf="form.get('doctor.phoneNumber').hasError('required')">{{getRequiredMessage('phoneNumber')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            id="docID"
            matInput
            required
            placeholder="Doctor ID"
            formControlName="docID">
          <mat-error *ngIf="form.get('doctor.docID').hasError('required')">{{getRequiredMessage('docID')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            id="specialization"
            required
            placeholder="Specialization"
            formControlName="specialization">
            <mat-option
              *ngFor="let spec of specs"
              [value]="spec.value">
              {{spec.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="user_button">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid">
          Register
        </button>
        <a routerLink="/user-register">Cancel</a>
      </div>

      <!-- <pre> {{ form.value | json }} </pre> -->
    </form>
  </mat-card>
</div>
