.container .login-panel .login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.container .login-panel .full-width {
  width: 100%;
}

.container mat-card {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
}

.container {
  border: solid 1px red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
