.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 
.container > mat-selection-list {
    align-self: center;
    justify-self: center;
} */
