<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Rating Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a rating title.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="description"
        placeholder="Rating Description"
      ></textarea>
      <mat-error *ngIf="form.get('description').invalid"
        >Please enter a rating description.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="rating" />
      <mat-error *ngIf="form.get('rating').invalid"
        >Please enter a rating.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit">Save Rating</button>
  </form>
</mat-card>
