<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to iMedical!</mat-card-title>
      <mat-card-subtitle>
        We care about your medical status by providing a Symptom Checcker and also providing a way to comunicate with real doctors!
      </mat-card-subtitle>
    </mat-card-header>
    <div class="menu">
      <button
        *ngIf="userType === 'user' || !userType"
        mat-raised-button
        matTooltip="Check out your symptoms"
        routerLink="/symptoms">
        <img src="../../../assets/diagnosis.png">
        <p>
          Symptom Checker
        </p>
      </button>
      <div
        *ngIf="userType === 'user' || !userType"
        matTooltip="You have to log in to Find a Doctor"
        [matTooltipDisabled]="authenticated">
        <button
          [disabled]="!authenticated"
          collor="primary"
          routerLink="/find-doctor"
          mat-raised-button>
          <img src="../../../assets/doctor.png">
          <p>
          Find a Doctor
        </p>
        </button>
      </div>
      <button
        *ngIf="userType === 'doctor'"
        mat-raised-button
        matTooltip="Reply questions"
        routerLink="/reply">
        <img src="../../../assets/diagnosis.png">
        <p>
            Reply questions
        </p>
      </button>
      <button
        *ngIf="userType === 'doctor'"
        mat-raised-button
        matTooltip="Check out your articles"
        routerLink="/my-articles">
        <img src="../../../assets/article.png">
        <p>
          My Articles
        </p>
      </button>
      <button
        mat-raised-button
        matTooltip="Check out the latest news about health"
        routerLink="/feed">
        <img src="../../../assets/symptom.png">
        <p>
          Healthy Feed
        </p>
      </button>

    </div>
  </mat-card>
</div>
