<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to iMedical!</mat-card-title>
      <mat-card-subtitle>
        We care about your medical status by providing a Symptom Checcker and also providing a way to comunicate with real doctors!
      </mat-card-subtitle>
    </mat-card-header>
    <div class="menu">
      <button
        mat-raised-button
        routerLink="/symptoms">
        <img src="../../../assets/symptom.png">
        <p>
          Symptom Checker
        </p>
      </button>
      <button
        collor="primary"
        routerLink="/find-doctor"
        mat-raised-button>
        <img src="../../../assets/doctor.png">
        <p>
          Find a Doctor
        </p>
      </button>
      <button
        mat-raised-button
        routerLink="/my-diagnostics">
        <img src="../../../assets/diagnosis.png">
        <p>
          My Diagnostics
        </p>
      </button>
    </div>
  </mat-card>
</div>
