.container {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container mat-card {
  width: 50%;
  height: 95%;
  margin: 0;
  display: block;
  justify-content: center;
  align-content: center;
}

.menu {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  margin: 5px;
  height: 150px;
  padding: 20px;
  width: 200px;
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 721px) and (max-width: 1024px) {
  .container mat-card {
    width: 60%;
    height: 40%;
    justify-content: center;
  }
  .menu {
    display: flex;
    height: 86%;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-top: 5px;
    height: 150px;
    padding: 20px;
    width: 200px;
    background: #6190e8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #a7bfe8,
      #6190e8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a7bfe8, #6190e8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 720px) {
  .container mat-card {
    width: 60%;
    height: 98%;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: flex;
    height: 85%;
    flex-direction: column;
  }
  button {
    margin-bottom: 10px;
    height: 130px;
    padding: 20px;
    width: 200px;
    background: #6190e8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a7bfe8, #6190e8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a7bfe8, #6190e8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
