.container {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container mat-card {
  width: 50%;
  height: 95%;
  margin: 0;
  display: block;
  justify-content: center;
  align-content: center;
  background-color: #f2f2f2;
}

.menu {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  margin: 5px;
  height: 150px;
  padding: 20px;
  width: 200px;
  border-style: solid;
  border-color: #00b3b3;
}
@media (min-width: 721px) and (max-width: 1024px) {
  .container mat-card {
    width: 60%;
    height: 40%;
    justify-content: center;
  }
  .menu {
    display: flex;
    height: 86%;
  }
  button {
    margin-top: 5px;
    height: 150px;
    padding: 20px;
    width: 200px;
    border-style: solid;
    border-color: #00b38f;
  }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 720px) {
  .container mat-card {
    width: 60%;
    height: 98%;
  }
  .menu {
    display: flex;
    height: 75%;
    flex-direction: column;
  }
  button {
    margin-bottom: 10px;
    height: 150px;
    padding: 20px;
    width: 200px;
    border-style: solid;
    border-color: #00b38f;
  }
}
