<div class="container">
  <mat-card class="login-panel">
    <mat-card-title>
      Login
    </mat-card-title>
    <form
      (ngSubmit)="handleSubmit(form.value, form.valid)"
      #form="ngForm"
      novalidate
      class="login-form">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Username"
          name="username"
          #username="ngModel"
          [ngModel]="user?.username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Password"
          value>
      </mat-form-field>
      <button
        mat-flat-button
        routerLink="/home"
        color="primary">
        Login
      </button>
      <a routerLink="/register">Register</a>
    </form>
  </mat-card>
</div>
