.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container mat-card {
  width: 20%;
  height: 32%;
}

.container mat-card mat-card-title {
  text-align: center;
}

.container mat-card mat-form-field {
  width: 100%;
}

a {
  text-decoration: none;
  float: right;
  margin-top: 5%; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .container mat-card {
    width: 50%;
    height: 35%;
  }
}