<div class="container">
  <mat-card class="login-panel">
    <mat-card-title>
      Login
    </mat-card-title>
    <form
      (ngSubmit)="handleSubmit(form.value, form.valid)"
      #form="ngForm"
      novalidate
      class="login-form">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Username"
          name="username"
          #username="ngModel"
          [ngModel]="user?.username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>            
      </mat-form-field>
      <div class="user_button">
        <button
          mat-flat-button
          routerLink="/home"
          color="primary">
          Login
        </button>
        <a routerLink="/register">Register</a>
      </div>
    </form>
  </mat-card>
</div>