.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container mat-card {
  width: 250px;
  height: 210px;
}

.container mat-card mat-card-title {
  text-align: center;
}

.container mat-card mat-form-field {
  width: 100%;
}

.container mat-card .user_button {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  margin-left: 3%;
  align-self: center;
  color: #9D9B9B;
}

a:visited {
  color: #9D9B9B;
}

@media (max-width: 700px) {
  .container mat-card {
    width: 50%;
    height: 35%;
  }
}

mat-icon{
  cursor: pointer;
}