nav {
  background-color: #f3f4f5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d7d7;
}

button {
  border-style: none;
  background-color: #f3f4f5;
  color: #9d9b9b;
}

button:hover {
  color: black;
}

#logout {
  float: right;
}
