<div class="container">
  <mat-card>

    <h1>
    What is iMedical?
</h1>

    <p> 
        iMedical is a free service that helps you find safe health information so you can make the best choices for your health.
        
        If you have any questions or ideas, we'd love to hear from you.
        
        Email us at: support@imedical.com.br
    </p>

    <h3>People come first!</h3>
    <p> 
        Applying technology to improve healthcare for everyone is why we exist. Our technology improves access to healthcare, allowing you to take control of your health.
    </p>

    <h3>Made for you</h3>
    <p> 
        We believe that everyone has a right to information about their health. Our services are designed to be personalised and easily accessible to everyone across the world, regardless of their knowledge or available technology.
    </p>
  </mat-card>
</div>
