<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="ratings.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let rating of ratings">
    <mat-expansion-panel-header>
      {{ rating.title }}
    </mat-expansion-panel-header>
    <p>{{ rating.description }}</p>
    <p>{{ rating.rating }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit-rating', rating.id]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(rating.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalratings"
  [pageSize]="ratingsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="ratings.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="ratings.length <= 0 && !isLoading">
  No ratings added yet!
</p>
