<div class="container">
  <mat-card class="reg-panel">
    <mat-card-title>Register</mat-card-title>
    <form
      (ngSubmit)="handleRegister()"
      [formGroup]="form"
      class="reg-form">
      <div formGroupName="user">
        <mat-form-field>
          <input
            matInput
            required
            formControlName="email"
            placeholder="E-mail">
          <mat-error *ngIf="form.get('user.email').hasError('required')">{{getRequiredMessage('email')}}</mat-error>
          <mat-error *ngIf="form.get('user.email').hasError('email')">Invalid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="emailConfirm"
            placeholder="Confirm e-mail">
          <mat-error *ngIf="form.get('user.emailConfirm').hasError('notEqualsEmail')">Does not match the e-mail.</mat-error>
          <mat-error *ngIf="form.get('user.emailConfirm').hasError('required')">{{getRequiredMessage('emailConfirm')}}</mat-error>
          <mat-error *ngIf="form.get('user.emailConfirm').hasError('email')">Invalid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="username"
            placeholder="Username">
          <mat-error *ngIf="form.get('user.username').hasError('required')">{{getRequiredMessage('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="fullname"
            placeholder="Full name">
          <mat-error *ngIf="form.get('user.fullname').hasError('required')">{{getRequiredMessage('fullname')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password">
          <mat-error *ngIf="form.get('user.password').hasError('required')">{{getRequiredMessage('password')}}</mat-error>
          <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            [type]="hide ? 'password' : 'text'"
            formControlName="passwordConfirm"
            placeholder="Confirm password">
          <mat-error *ngIf="form.get('user.passwordConfirm').hasError('required')">
            {{getRequiredMessage('passwordConfirm')}}
          </mat-error>
          <mat-icon
            matSuffix
            (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            type="date"
            value
            formControlName="birthdate"
            placeholder="Birth Date">
          <mat-error *ngIf="form.get('user.birthdate').hasError('required')">{{getRequiredMessage('birthdate')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="tel"
            matInput
            placeholder="Telephone"
            formControlName="phoneNumber">
          <mat-error *ngIf="form.get('user.phoneNumber').hasError('required')">{{getRequiredMessage('phoneNumber')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="user_button">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid">
          Register
        </button>
        <a routerLink="/login">Cancel</a>
      </div>

      <!-- <pre> {{ form.value | json }} </pre> -->
    </form>
  </mat-card>
</div>
