<div class="container">
  <mat-card class="reg-panel">
    <mat-card-title>User Register</mat-card-title>
    <form
      (ngSubmit)="handleRegister()"
      [formGroup]="form"
      class="reg-form">
      <div formGroupName="user">
        <mat-form-field>
          <input
            matInput
            required
            formControlName="email"
            placeholder="E-mail">
          <mat-error *ngIf="form.get('user.email').hasError('required')">{{getRequiredMessage('email')}}</mat-error>
          <mat-error *ngIf="form.get('user.email').hasError('email')">Invalid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="username"
            placeholder="Username">
          <mat-error *ngIf="form.get('user.username').hasError('required')">{{getRequiredMessage('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            formControlName="fullname"
            placeholder="Full name">
          <mat-error *ngIf="form.get('user.fullname').hasError('required')">{{getRequiredMessage('fullname')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            [type]="hide ? 'password' : 'text'"
            formControlName="pwd"
            placeholder="Password">
          <mat-error *ngIf="form.get('user.pwd').hasError('required')">{{getRequiredMessage('pwd')}}</mat-error>
          <mat-icon
            matSuffix
            (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthdate"
            placeholder="Select your birth date">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('user.birthdate').hasError('required')">{{getRequiredMessage('birthdate')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="tel"
            matInput
            placeholder="Telephone"
            formControlName="phone">
          <mat-error *ngIf="form.get('user.phone').hasError('required')">{{getRequiredMessage('phone')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!--  -->
        <div class="user_button">
          <button
            mat-flat-button
            type="submit"
            color="primary"
            [disabled]="form.invalid">
            Register
          </button>
          <a routerLink="/login">Cancel</a>
        </div>
        <a routerLink="/doctor-register">I'm a Doctor</a>
      </div>
      <!-- <pre> {{ form.value | json }} </pre> -->
    </form>
  </mat-card>
</div>
