nav{
    background-color: #F3F4F5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D9D7D7;
}

button{
    border-style: none;
    background-color: #F3F4F5;
    color: #9D9B9B;
}

button:hover{
    color: black;
}