<div class="container">
  <div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card
    class="checkbox"
    *ngIf="loaded">
    <mat-card-title>Select your Symptoms</mat-card-title>
    <div class="search">
      <div class="dataUser">
        <a>Select your gender and tell us your year of birth. This will help us to give a more accurate diagnosis.</a>
        <mat-form-field>
          <mat-select
          required
          id="gender"
          placeholder="Gender"
          [(value)]="selectedGender">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          required
          maxlength="4"
          [(ngModel)]="birthYear"
          placeholder="Birth year">
        </mat-form-field>
      </div>
      <mat-form-field>
        <input
          matInput
          #symptomSearch
          placeholder="Search for a symptom">
      </mat-form-field>
      <button
        mat-icon-button
        type="submit"
        (click)="handleSubmit()"
        [disabled]="selectedSymptoms?.length < 1">
        <mat-icon>subject</mat-icon>
        DIAGNOSE
      </button>
      <mat-selection-list (selectionChange)="onSelectedOptionsChange()">
        <mat-list-option
          *ngFor="let symptom of (symptoms | symptomSearch:symptomSearch.value)"
          [selected]="symptom.selected"
          (click)="symptom.selected = !symptom.selected;"
          [value]="symptom.ID">
          {{symptom?.Name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>
</div>